/* add your CSS here */
.main-div {
	width: 300px;
  	margin: 30px;
  	padding: 9px;
    border: 1px solid #696969;
  	box-shadow: 10px 10px 3px lightgrey;
}
img {
	width: 300px;
  	height: 199px;
}
.description-div {
  	width: 280px;
  	padding: 9px;
    border: 1px solid #696969;
  	margin: 10px 0px 10px 0px;
}
.interesting-fact {
	font-style: italic;
}
ul {
	list-style-type: none;
  	padding-left: 0;
}
ul span {
	font-weight: bold;
  	text-transform: capitalize;
}
